.signup-widget {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 420px;
  row-gap: 12px;
  margin-left:50px;
  margin-right: 0px;
  margin-left: auto;
}

.signup-widget h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.signup-widget p {
  font-size: 16px;
  color: #777;
}

.signup-widget .input-row {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-margin: 2px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  flex: 2;
  margin-left: 16px;
}

.signup-widget button {
 padding: 10px;
  margin: 10px;
  border-radius: 6px;
  background-color: #000000;
  color: white;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  flex: none;
  width: 50px; /* Adjusted to account for margin-right of input */
}

.signup-widget button:hover {
  background-color: #808080;
}

.signup-widget button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
